        body {
            background-color: #3498db; 
            font-family: 'Arial', sans-serif; 
            color: #fff; 
        }
        h1 {
            font-size: 2.5rem; 
        }
        h2{
            text-align: center;
        }
        table {
            font-size: 1.5rem; 
        }
        img {
            min-height: 500px;
            min-width: 800px;
        }